*{
    font-family:  Courier,Helvetica, sans-serif;
    color: black;
    background-color: white;
}

form,form>input{
    text-align: center;
    margin-top: 2%;
   font-size: x-large;
   color: white;
   margin-bottom: 5px;
}

input{
    width: 20%;
    border-style: none;
    border-radius: 4px;
    background-color: grey;
  
}

input::placeholder{
    color: white;
}
#main{
    text-align: center;
    margin-bottom: 0%;
    
}

#main>h2,h3{
    margin: 0;
    padding: 0%;
}
#locationx{
    font-size: 80px;
}
#current{
    font-size: 40px;
}
#subcat{
    margin-top: 0%;
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 120px;
}
#left,#right,#divider{
    margin-top: 0%;
   height: 100%;
}

#left>h2{
    font-size: 140px;
    height: 100%;
    margin-top: -10px;
}

#right>h2{
    margin: 5px;
    font-size: x-large;
}

#divider {
    border-left: thick solid #ff0000;
  }

  #weekly{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
  }

  #weekly>div{
    width: 50px;
  }